h2 {
    background-color: blue;
    font-size: 400%;
}
body{
    background-color: aqua;
}
.hello {
    background-color: brown;
    text-align: right;
}
.bye {
    background-color: chocolate;
    margin: 30px 0px 50px 60px;
}